<!DOCTYPE html>
<html lang="en" data-dark="false">
  {% include head.html %}
  <body>
    {% include header.html %}
    <main>
      <button class="host" id="host">Lambda Phi Epsilon</button>
      <div class="tree" id="tree">
        <button class="accordion root">
          <img src="/images/media/charter/1.webp" alt="Image of the Brother"><br>Ethan "Doc McStuffins" Chan</button>
        <div class="panel">
          <button class="accordion">
            <img src="/images/media/alpha/13.webp" alt="Image of the Brother"><br>Sonny "CASΛNOVA" Vuong</button>
          <div class="panel">
            <button class="accordion">
              <img src="/images/media/beta/25.webp" alt="Image of the Brother"><br>Kelvin "GOOCHIE MΛNE" Nguyen</button>
            <div class="panel">
              <button class="accordion">
                <img src="/images/media/dick em down deltas/43.webp" alt="Image of the Brother"><br>Harrison "VΛPRE" Thow</button>
              <div class="panel">
                <button class="accordion">
                  <img src="/images/media/epsilon/49.webp" alt="Image of the Brother"><br> Samuel "HIM-CHΛN" Miller</button>
                <div class="panel">
                  <p>---</p>
                </div>
              </div>
            </div>
          </div>
          <button class="accordion">
            <img src="/images/media/dick em down deltas/37.webp" alt="Image of the Brother"><br>Kristian "MESSIDONIΛ" Janevski</button>
          <div class="panel">
            <p>---</p>
          </div>
        </div>
        <button class="accordion root">
          <img src="/images/media/charter/2.webp" alt="Image of the Brother"><br>Nicholas "Cookin Mama" Dang</button>
        <div class="panel">
          <p>---</p>
        </div>
        <button class="accordion root">
          <img src="/images/media/charter/3.webp" alt="Image of the Brother"><br>Sean "Wumbo" Dupiano</button>
        <div class="panel">
          <button class="accordion">
            <img src="/images/media/alpha/15.webp" alt="Image of the Brother"><br>Tyler "Re:Zerø" Liu</button>
          <div class="panel">
            <button class="accordion">
              <img src="/images/media/beta/22.webp" alt="Image of the Brother"><br>Alex "REYN" Chiu</button>
            <div class="panel">
              <button class="accordion">
                <img src="/images/media/gamer gammas/28.webp" alt="Image of the Brother"><br>Jason "MONΛRCH" Zhang</button>
              <div class="panel">
                <p>---</p>
              </div>
              <button class="accordion">
                <img src="/images/media/dick em down deltas/39.webp" alt="Image of the Brother"><br>Matthew "iMΛJINe" Gong</button>
              <div class="panel">
                <p>---</p>
              </div>
              <button class="accordion">
                <img src="/images/media/gamer gammas/30.webp" alt="Image of the Brother"><br>Zilai "SEKKI" Wang</button>
              <div class="panel">
                <button class="accordion">
                  <img src="/images/media/dick em down deltas/35.webp" alt="Image of the Brother"><br>Alex "CHIKΛ" Zhang</button>
                <div class="panel">
                  <p>---</p>
                </div>
              </div>
            </div>
          </div>
          <button class="accordion">
            <img src="/images/media/beta/19.webp" alt="Image of the Brother"><br>Ayoub "PLUTUS" Benaaouinate</button>
          <div class="panel">
            <p>---</p>
          </div>
        </div>
        <button class="accordion root">
          <img src="/images/media/charter/4.webp" alt="Image of the Brother"><br>Kent "Thunderclap" Hoang</button>
        <div class="panel">
          <p>---</p>
        </div>
        <button class="accordion root">
          <img src="/images/media/charter/5.webp" alt="Image of the Brother"><br>Alex "Rule 34" Nguyen</button>
        <div class="panel">
          <button class="accordion">
            <img src="/images/media/alpha/17.webp" alt="Image of the Brother"><br>Gill "KILLUΛ" Im</button>
          <div class="panel">
            <p>---</p>
          </div>
          <button class="accordion">
            <img src="/images/media/gamer gammas/29.webp" alt="Image of the Brother"><br>Yury "ODM" Pozdneev</button>
          <div class="panel">
            <button class="accordion">
              <img src="/images/media/dick em down deltas/33.webp" alt="Image of the Brother"><br>Junho "MΛLPHON" Choi</button>
            <div class="panel">
              <p>---</p>
            </div>
          </div>
          <button class="accordion">
            <img src="/images/media/gamer gammas/27.webp" alt="Image of the Brother"><br>Sam "MIRΛI" Zhang</button>
          <div class="panel">
            <button class="accordion">
              <img src="/images/media/dick em down deltas/42.webp" alt="Image of the Brother"><br>Jiaming "JOΛT" Meng</button>
            <div class="panel">
              <p>---</p>
            </div>
          </div>
        </div>
      
        <button class="accordion root">
          <img src="/images/media/charter/7.webp" alt="Image of the Brother"><br>Trace "¿Winnie the Who?" Nguyen</button>
        <div class="panel">
          <button class="accordion">
            <img src="/images/media/beta/23.webp" alt="Image of the Brother"><br>Michael "ΛLGORHYTHM" Joo</button>
          <div class="panel">
            <button class="accordion">
              <img src="/images/media/epsilon/44.webp" alt="Image of the Brother"><br>Verich "ΛPOLLO" Luu</button>
            <div class="panel">
              <p>---</p>
            </div>
          </div>
          <button class="accordion">
            <img src="/images/media/gamer gammas/26.webp" alt="Image of the Brother"><br>Dante "uncHEΛRTed" Le</button>
          <div class="panel">
              <button class="accordion">
                <img src="/images/media/epsilon/46.webp" alt="Image of the Brother"><br>Ethan "DΛ VINCI" Liu</button>
              <div class="panel">
                <p>---</p>
              </div>
          </div>
        </div>
        <button class="accordion root">
          <img src="/images/media/charter/8.webp" alt="Image of the Brother"><br>Wesley "Phony Hawk" Nguyen</button>
        <div class="panel">
          <button class="accordion">
            <img src="/images/media/alpha/14.webp" alt="Image of the Brother"><br>Jarred "NOMΛD" Malto</button>
          <div class="panel">
            <button class="accordion">
              <img src="/images/media/dick em down deltas/40.webp" alt="Image of the Brother"><br>Guangzhou "STEEZY" Zheng</button>
            <div class="panel">
              <p>---</p>
            </div>
          </div>
          <button class="accordion">
            <img src="/images/media/beta/21.webp" alt="Image of the Brother"><br>Hamzah "ΛRETE" Chaudhry</button>
          <div class="panel">
            <button class="accordion">
              <img src="/images/media/gamer gammas/31.webp" alt="Image of the Brother"><br>Mark "T. LΛW" Law</button>
            <div class="panel">
              <p>---</p>
            </div>
          </div>
        </div>
        <button class="accordion root">
          <img src="/images/media/charter/9.webp" alt="Image of the Brother"><br>Jerry "Brock" Ta</button>
        <div class="panel">
          <button class="accordion">
            <img src="/images/media/alpha/18.webp" alt="Image of the Brother"><br>Andrew "PΛNCHAM" Garcia</button>
          <div class="panel">
            <button class="accordion">
              <img src="/images/media/beta/24.webp" alt="Image of the Brother"><br>James "NBA CHUNGBOY" Li</button>
            <div class="panel">
              <button class="accordion">
                <img src="/images/media/dick em down deltas/41.webp" alt="Image of the Brother"><br>Padraig "ΛSTRO" Hurley</button>
              <div class="panel">
                <p>---</p>
              </div>
            </div>
            <button class="accordion">
              <img src="/images/media/dick em down deltas/38.webp" alt="Image of the Brother"><br>Joe "BTΛ" Li</button>
            <div class="panel">
              <button class="accordion">
                <img src="/images/media/epsilon/48.webp" alt="Image of the Brother"><br> Justin "YUSUKE" Bailey</button>
              <div class="panel">
                <p>---</p>
              </div>
            </div>
          </div>
        </div>
        <button class="accordion root">
          <img src="/images/media/charter/10.webp" alt="Image of the Brother"><br>Tagumpay "Pillowtalk" Sison</button>
        <div class="panel">
          <button class="accordion">
            <img src="/images/media/alpha/16.webp" alt="Image of the Brother"><br>Joshua "Zoro" Amponsah</button>
          <div class="panel">
            <p>---</p>
          </div>
        </div>
        <button class="accordion root">
          <img src="/images/media/charter/11.webp" alt="Image of the Brother"><br>Kenny "SBD" Truong</button>
        <div class="panel">
          <button class="accordion">
            <img src="/images/media/beta/20.webp" alt="Image of the Brother"><br>Ethan "ΛERO" Chau</button>
          <div class="panel">
            <button class="accordion">
              <img src="/images/media/epsilon/45.webp" alt="Image of the Brother"><br>Kyle "PIONEER" Nguyen</button>
            <div class="panel">
              <p>---</p>
            </div>
          </div>
        </div>
      
        <button class="accordion root">
          <img src="/images/media/charter/12.webp" alt="Image of the Brother"><br>Kenny "M.I.R.I.O" Vo</button>
        <div class="panel">
          <button class="accordion">
            <img src="/images/media/gamer gammas/32.webp" alt="Image of the Brother"><br>William "E.S.C.A.N.O.R" Lim</button>
          <div class="panel">
            <button class="accordion">
              <img src="/images/media/dick em down deltas/36.webp" alt="Image of the Brother"><br>Adam "Λ.S.T.A" Huang</button>
            <div class="panel">
              <p>---</p>
            </div>
          </div>
          <button class="accordion">
            <img src="/images/media/epsilon/47.webp" alt="Image of the Brother"><br> Woojae "H.Y.U.G.A" Kim </button>
          <div class="panel">
            <p>---</p>
          </div>
        </div>

      </div>
      
      
      </div>
      <style>
        .accordion,
        .host {
          font-family: "Roboto Slab";
          background-color: #e8e7eb;
          border-radius: 11px;
          margin-top: 6px;
          border-radius: 15px;
          color: #030264;
          cursor: pointer;
          padding: 18px;
          width: 100%;
          border: none;
          text-align: center;
          outline: none;
          font-size: 15px;
          transition: 0.4s;
      
          p {
            color: var(--text-color);
          }
      
          img {
            object-fit: contain;
            width: 100px;
            border: 1px solid #ddd;
            border-radius: 30%;
            padding: 5px;
      
          }
      
          &:hover {
            background-color: var(--accent-color);
          }
        }
      
        .active,
        .accordion:hover {
          background-color: #9e9d9f;
        }
      
        .panel {
          padding: 0 18px;
          display: none;
          overflow: hidden;
          height: auto;
          grid-template-columns: 1fr 1fr 1fr 1fr;
          grid-gap: 10px;
          padding: 10px;
        }
      
        .tree {
          display: grid;
          grid-template-columns: 1fr 1fr 1fr 1fr;
          grid-gap: 10px;
          padding: 10px;
        }
      </style>
      
      <script>
        var acc = document.getElementsByClassName("accordion");
        var root = document.getElementsByClassName("root");
        var tree = document.getElementById("tree");
        var i;
        state = false;
      
        for (i = 0; i < acc.length; i++) {
          acc[i].addEventListener("click", function () {
            this.classList.toggle("active");
            var panel = this.nextElementSibling;
            if (panel.style.display === "block") {
              panel.style.display = "none";
            } else {
              panel.style.display = "block";
            }
          });
        }
      
        document.getElementById("host").addEventListener("click", function () {
          for (var i = 0; i < acc.length; i++) {
            acc[i].nextElementSibling.style.display = "none";
          }
          for (var j = 0; j < root.length; j++) {
            root[j].classList.remove("active");
            root[j].style.display = "block";
          }
          tree.style.display = "grid";
        });
      
        for (i = 0; i < root.length; i++) {
          root[i].addEventListener("click", function () {
            this.classList.toggle("active");
            var panel = this.nextElementSibling;
            for (var j = 0; j < root.length; j++) {
              if (root[j] != this) {
                root[j].classList.remove("active");
                root[j].nextElementSibling.style.display = "none";
                root[j].style.display = "none";
              }
            }
            tree.style.display = "block";
          });
        }
      
      </script>
    </main>
    {% include footer.html %}
  </body>
</html>